<div class="form-signin">
    <h2 class="form-signin-heading">Kullanıcı Girişi</h2>
    <label for="userName" class="sr-only">Kullanıcı Adı</label>
    <input type="text" id="userName" [(ngModel)]="loginModel.UserName" class="form-control" placeholder="Kullanıcı Adı..." required autofocus>
    <label for="inputPassword" class="sr-only">Şifre</label>
    <input type="password" id="inputPassword" [(ngModel)]="loginModel.Password" class="form-control" placeholder="Şifre..." required>
    <button class="btn btn-lg btn-primary btn-block" (click)="login()" type="button">Giriş</button>
</div>