<div class="star-container" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()" [style.width.px]="starWidth">
    <div class="star">
        <span class="glyphicon glyphicon-star" (click)="rate(1)"></span>
        <span class="glyphicon glyphicon-star" (click)="rate(2)"></span>
        <span class="glyphicon glyphicon-star" (click)="rate(3)"></span>
        <span class="glyphicon glyphicon-star" (click)="rate(4)"></span>
        <span class="glyphicon glyphicon-star" (click)="rate(5)"></span>
    </div>
</div>